* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container div {
    margin: 2%;
}

.limbs, .genders, .radios, #gender-block, #limbs-block {

    justify-content: space-between;
    align-items: center;
}

#gender-block .radios {
    width: 82%;
}

.radios {
    width: 100%;
    padding: 0 90px;
    border: 5mm ridge rgba(211, 220, 50, .6);;
    border-radius: 10px;
}

#send-btn {
    width: 95%;
    background-color: #000000;
    border-color: #008000;
}

#policy a {
    color: #f14d34;
}

.form-container .form-control:focus {
    outline: 1px solid #666;
    border: 1px solid #f14d34;
    box-shadow: 0 0 10px #f35b439a;
}
